#listify-add-list {
  padding: 10px;
}
#listify-add-list .element { margin: 10px 0px; overflow: hidden;  }
#listify-add-list label {
  width: 300px;
}
#listify-add-list .blogs-wrapper {
  float: left;
  margin-top: 10px;
}
#listify-add-list .blogs-wrapper label { margin-right: 10px; }
#listify-add-list .blogs-wrapper label input { margin-right: 3px; }