#listify-add-list {
  overflow: hidden;
  background: #eee;
  padding: 10px;
  border-radius: 5px;
  width: 80%;
}
.listify-wrap .element {
  float: left;
  clear: both;
  margin-bottom: 10px;
  overflow: hidden;
  background: #fff;
  border-radius: 3px;
  width: 90%;
  padding: 10px 10px 10px 50px;
}
.listify-wrap .element label { margin-right: 10px; float: left; width: 150px; }
.listify-wrap .list-element select { margin-right: 10px; -webkit-appearance: textfield; }
.listify-wrap .list-element.select { margin: 0px; }

.listify-list { border-collapse: collapse; width: 100%; }
.listify-list th { background: #eee; }
.listify-list th,
.listify-list td { text-align: left; padding: 5px; }
.listify-list-checkbox { width: 50px; }
.listify-list-name { padding: 0px 20px; }
.listify-list .even { background: #eee; }

#listify-delete-list #submit { margin-top: 10px; }

.listify-list-options-form table { border-collapse: collapse; width: 400px; margin-top: 20px; }
.listify-list-options-form thead { background: #eee; }
.listify-list-options-form th,
.listify-list-options-form td { text-align: left; padding: 5px; }
.listify-list-options-form input[type=text] { width: 100%; }

.chosen { width: 70%; }

.chzn-container { float: left; background: red; }

.chzn-choices { overflow: hidden; }
.chzn-drop ul li {
  border: 1px solid #ccc;
  padding: 3px 5px;
  margin-right: 10px;
  border-radius: 3px;
  float: left;
  cursor: pointer;
}
.chzn-choices .search-field { display: none; }
.chzn-choices .search-choice {
  position: relative;
  cursor: pointer;
  padding: 3px 5px;
  background: #eee;
  border-radius: 3px;
  float: left;
  margin-right: 10px;
}
.chzn-choices .search-choice span { color: #333; float: left; }
.chzn-choices .search-choice a {
  position: relative;
  top: 3px;
  right: -10px;
  display: block;
  height: 10px;
  width: 10px;
  background: #333;
  border-radius: 5px;
  float: left;
}